body{
    margin:0px;
    background-color: #e6ecfc;
}
.headerpicture{
    background-repeat: no-repeat;
    position: absolute;
    width:100%;
    text-align:center;
    height:50%;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(20%) grayscale(100%);
    margin-top: -10%;
}
.headername{
    text-align: center;
    color: white;
    font-size:50px;
    position: relative;
    font-family: 'Lobster', cursive;
}
ul {
    list-style-type:none;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    position:relative;
    margin:0px;
}

li {
    float: left;
    font-family: arial;
    text-decoration:underline;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
hr{
    width:80%;
}
.title1{
    text-align: center;
    color: #1a1a1a;
    font-size: 25px;
    font-family: 'Lobster';
    padding-top: 1%;
}
.description1{
    text-align: center;
    font-size: 20px;
    margin-top: -2%;
    padding-left:2%;
    padding-right:2%;
}
.footer{
    margin-top: 5%;
    background-color: #1a1a1a;
    padding: 3%;
    color: white;
    font-size:15px;
    text-align: right;
}
a{
    color: white;
}
a hover{
    color: gray;
}
a active{
    color: white;
}
.description2{
    text-align: center;
    font-size: 20px;
    margin-top: -2%;
    padding-left:2%;
    margin-right: 100px;
}
.slideshow{
    margin-right:3%;
    margin-left:3%;
    text-align:center;
}
.slideshow img{
    margin-left:2%;
    margin-right:2%;
    width:30%;
    max-height:50%
}
.headername h1{
    background-image: url("images/snow.jpg");
    margin:0px;
    padding:67px;
    background-position: bottom;
    background-attachment: fixed;
}
.icons{
    text-align:center;
    margin-right:5%;
    margin-left:5%;
}
.icons img{
    width:2%;
    margin-right 2%;
    margin-left:2%;
}
.title1 h1{
    padding-top:0px;
}
